<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.shopmarket.background.systemmanager.dao.SystemMenuDao">
    <select id="doFindObjectById" resultType="com.cy.shopmarket.common.pojo.Menu">
        select * from menu
        <choose>
            <when test="id!=null">
                where id=#{id}
            </when>
        </choose>
    </select>
    <insert id="doSaveObject" parameterType="com.cy.shopmarket.common.pojo.Menu">
        insert into menu (name, parent_id, url, permissions) values (#{entity.name}, #{entity.parentId}, #{entity.url}, #{entity.permissions})
    </insert>
    <update id="doUpdateObject" parameterType="com.cy.shopmarket.common.pojo.Menu">
        update menu set name=#{entity.name},parent_id=#{entity.parentId},url=#{entity.url},permissions=#{entity.permissions}
        <where>
            <choose>
                <when test="entity.id!=null">
                    id =#{entity.id}
                </when>
                <otherwise>
                    id =-1
                </otherwise>
            </choose>
        </where>
    </update>
    <delete id="doDeleteObjectById">
        delete from menu
        <where>
            <choose>
                <when test="id!=null">
                    id=#{id}
                </when>
                <otherwise>
                    id=-1
                </otherwise>
            </choose>
        </where>
    </delete>
</mapper>