<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.shopmarket.background.systemmanager.dao.SystemUserDao">
    <!-- 通过select、insert、update、delete标签声明要执行的SQL -->
    <resultMap id="userRoleVo" type="com.cy.shopmarket.background.systemmanager.vo.SystemUserRoleVo">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <id column="name" property="role"/>
        <id column="phone" property="phone"/>
        <id column="addr" property="addr"/>
        <id column="money" property="money"/>
        <id column="jpg" property="jpg"/>
    </resultMap>
    <select id="doFindObjects" resultMap="userRoleVo">
        select u.id,r.name,u.username,u.phone,u.addr,u.money,u.jpg
        from user u join user_role join role r
        on u.id = user_id and user_role.role_id = r.id
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </select>

    <delete id="doDeleteObjectById">
        delete from user
        <where>
            <choose>
                <when test="id!=null">
                    id=#{id}
                </when>
                <otherwise>
                    id=-1
                </otherwise>
            </choose>
        </where>
    </delete>
    <insert id="doSaveObject" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, phone, salt, addr, money, jpg) values (#{entity.username}, #{entity.password}, #{entity.phone}, #{entity.salt}, #{entity.addr}, #{entity.money}, #{entity.jpg})
    </insert>
    <select id="doFindById" resultType="com.cy.shopmarket.common.pojo.User">
        select * from user
        <where>
            <choose>
                <when test="id!=null">
                    id=#{id}
                </when>
                <otherwise>
                    id=-1
                </otherwise>
            </choose>
        </where>
    </select>
    <update id="doUpdateById">
        update user set
        username=#{entity.username},phone=#{entity.phone},addr=#{entity.addr},money=#{entity.money},jpg=#{entity.jpg}
        <where>
            <choose>
                <when test="entity.id!=null and entity.id!=''">
                    id=#{entity.id}
                </when>
                <otherwise>
                    id=-1
                </otherwise>
            </choose>
        </where>
    </update>
    <select id="getRowCount" resultType="int">
        select count(*) from user
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </select>
</mapper>