<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.shopmarket.background.systemmanager.dao.SystemRoleDao">
    <select id="doFindObjectById" resultType="com.cy.shopmarket.common.pojo.Role">
        select * from role
       where id=#{id}
    </select>
    <select id="doFindObjects" resultType="com.cy.shopmarket.common.pojo.Role">
        select * from role
        <where>
                <if test="name!=null and name!=''">
                    name like concat("%",#{name},"%")
                </if>
            </where>
    </select>
    <delete id="doDeleteById">
        delete from role
        <where>
            <choose>
                <when test="id!=null">
                    id=#{id}
                </when>
                <otherwise>
                    id = -1
                </otherwise>
            </choose>
        </where>
    </delete>
    <update id="doUpdateById">
        update role set name=#{entity.name},note=#{entity.note}
        <where>
            <choose>
                <when test="entity.id!=null">
                    id=#{entity.id}
                </when>
                <otherwise>
                    id = -1
                </otherwise>
            </choose>
        </where>
    </update>
    <select id="doGetRowCounts" resultType="int">
        select count(*)
        from role
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </select>
    <insert id="doSaveObject">
        insert into role (name, note) values (#{entity.name},#{entity.note})
    </insert>
</mapper>